{% load i18n  %}
<table class="table">
    <thead>
    <tr>
        <th>{%  trans 'Office name' %}</th>
        <th>{%  trans 'Place' %}</th>
        <th>{%  trans 'ePUAP ID' %}</th>
    </tr>
    </thead>
    <tbody>{% for object in object_list %}
        <tr>
            <td><a href="{% url "details" epuap_id=object.epuap_id %}">{{ object }}</a>
            <td>{{ object.jst }}</td>
            <td><code>{{ object.epuap_id }}</code></td>
            <td><code>{{ object.rank }}</td>
        </tr>
    {% endfor %}</tbody>
</table>
