{% extends 'base.html' %}
{% load i18n bootstrap_pagination %}
{% block content %}
    <div class="row">
        <form>
            <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="{% trans 'Search for...' %}"
                           value="{{ search_query }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">{% trans 'Search!' %}</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </form>
    </div>
    {% bootstrap_paginate page_obj %}
    {% include 'institutions/_list.html' with object_list=object_list %}
    {% bootstrap_paginate page_obj %}
    </div>
{% endblock %}
