{% extends 'base.html' %}
{% load i18n bootstrap_pagination %}
{% block content %}
    <ol class="breadcrumb">
        {% for jst in object.get_ancestors.all %}
            <li><a href="{% url 'terc' pk=jst.id %}">{{ jst }}</a></li>
        {% endfor %}
        <li class="active">{{ object }}</li>
    </ol>
    <p>
        {% if object.children.all %}
            {% trans 'Go to:' %} {% for object in object.children.all %}
            <a href="{% url 'terc' pk=object.id %}">{{ object }}</a>
            {% if not forloop.last %}
                &bull;
            {% endif %}
        {% endfor %}
        {% endif %}
    </p>

    <h1>{{ object }}</h1>
    {% bootstrap_paginate page_obj %}
    {% include 'institutions/_list.html' with object_list=object_list %}
    {% bootstrap_paginate page_obj %}
{% endblock %}
