{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if object.jstconnection.jst %}
        <ol class="breadcrumb">
            {% for jst in object.jstconnection.jst.get_ancestors.all %}
                <li><a href="{% url 'terc' pk=jst.id %}">{{ jst }}</a></li>
            {% endfor %}
            <li><a href="{% url 'terc' pk=object.jstconnection.jst.id %}">{{ object.jstconnection.jst }}</a></li>
            <li class="active">{{ object }}</li>
        </ol>
    {% endif %}
    <h2>{{ object }}</h2>

    <h3>{% trans 'Near institution' %}</h3>
    {% include 'institutions/_list.html' with object_list=near_institution %}

    <a class="btn btn-default btn-sm pull-right" role="button" data-toggle="collapse" href="#collapseExample"
       aria-expanded="false"
       aria-controls="collapseExample">
        Pokaż zgromadzone dane
    </a>
    <div class="collapse" id="collapseExample">
        ID: <code>{{ object.id }}</code>
        {% include 'institutions/_dict_table.html' with name='Baza REGON' dict=object.regon_data.data %}
        {% include 'institutions/_dict_table.html' with name='Baza RESP.xml' dict=object.resp.data %}
        <h2>{% trans 'Electronic delivery boxes' %}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Adres skrytki</th>
                <th>Status skrytki</th>
            </tr>
            </thead>
            <tbody>{% for esp in object.esp_generator %}
                <tr>
                    <td><code>{{ esp.name }}</code></td>
                    <td>{{ esp.active }}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
    </div>
    </pre>
{% endblock %}
